  * {
    box-sizing: border-box;
  }
  
  /* Add a gray background color with some padding */
  body {
    background-color: #121212;
    color: #a5a5a5;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    min-width: 450px;
    width: auto !important;
    width: 450px;
  }
  
  /* Header/Blog Title */
  body {
      margin: 7px;
      padding: 0px;
  }
  .banner {
      width: 100%;
  }
  
  /* Navigation */
  .navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }

  .navbar li {
    float: left;
  }

  .navbar li a {
    display: block;
    color: #a5a5a5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .navbar li a:hover {
    background-color: #6F6F6F;
    color: #333333;
  }

  .this a {
    background-color: #aaaaaa;
    color: #333333 !important;
  }

  .this a:hover {
    background-color: #aaaaaa !important;
    color: #333333 !important;
  }

  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  /* Image placeholders */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
     background-color: #333333;
     padding: 20px;
     margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }